<% const page='works'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs',{meta:data.pageMeta[page]}); %>

<body>
  <%- include('../includes/_loading.ejs',{meta:data.pageMeta[page]}); %>
  <div class="smooth-scroll-container" data-scroll-container>
    <%- include('../includes/_header.ejs',{meta:data.pageMeta[page]}); %>
    <%- include('./_main-works.ejs',{meta:data.pageMeta[page]}); %> <%-
      include('../includes/_footer.ejs',{meta:data.pageMeta[page]}); %>
  </div>
  <%- include('../includes/_footer-scripts.ejs',{meta:data.pageMeta[page]}); %>
</body>

</html>
