<main class="main p-cross-main parallax-container" data-scroll-section>
  <div class="p-interview-kv">
    <div class="p-interview-kv__bg">
			<div
			class="p-interview-kv__bg__inner js-startLoaded">
			<picture>
				<source
					media="(min-width: 1366px)"
					srcset="<%= meta.imgPath %>bg-cross1-kv-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-cross1-kv.jpg"
					alt=""
					width="750"
					height="auto"
				/>
			</picture>
		</div>
    </div>

    <div class="p-interview-kv__title">
      <section class="p-interview-kv__title__heading">
        <h1>
          <img
            src="<%= meta.imgPath %>text-cross-kv.svg"
            alt="CROSS TALK"
            width="635"
            height="auto"
          />
        </h1>
      </section>
      <dl class="p-interview-kv__title__keyword">
        <dt class="keyword-vertical">
          <img
            src="<%= meta.imgPath %>text-interview-keyword.svg"
            alt="keyword"
            width="20"
            height="auto"
          />
        </dt>
        <div class="keyword-items">
          <div class="--flexed">
            <dd class="keyword-item">#座談会</dd>
            <dd class="keyword-item">#執行役員</dd>
						<dd class="keyword-item">#20代の成長環境</dd>
          </div>
          <div>
            <dd class="keyword-item --spacing">#マッキンゼー</dd>
            <dd class="keyword-item --spacing">#コンサル</dd>
          </div>
        </div>
      </dl>
    </div>

    <section class="p-interview-kv__sub --3">
      <h2 class="sub-title">
        <div class="sub-title-container">
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>20代の成長を最大化し、</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>30代で経営に名乗りを上げる。</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>その覚悟のある人に来てほしい。</span>
          </div>
        </div>
      </h2>
    </section>
  </div>
  <!-- //p-interview-kv -->
  <div class="p-cross-member --3">
    <div class="p-cross-member__heading">
      <h2 class="vertical">
        <img
          src="<%= meta.imgPath %>text-cross-member.svg"
          alt="Member"
          width="20"
          height="auto"
        />
      </h2>
    </div>
    <div class="p-cross-member__people">
      <div class="people-items">
        <div class="people-item">
          <img
            src="<%= meta.imgPath %>cross1-people1.jpg"
            alt="田中良直の写真"
            width="200"
            height="auto"
          />
          <h3 class="people-title --color1-1">
            田中良直<br /><span class="small --1">（執行役員）<br>2016年中途入社</span>
          </h3>
        </div>

				<div class="people-cross --1">
					<img
					src="<%= meta.imgPath %>obj-cross-member.svg"
					alt=""
					width="100"
					height="auto"
				/>
				</div>

        <div class="people-item">
          <img
            src="<%= meta.imgPath %>cross1-people2.jpg"
            alt="須賀亜衣子の写真"
            width="200"
            height="auto"
          />
          <h3 class="people-title --color1-2">
            須賀亜衣子<br /><span class="small --1">（執行役員）<br>2020年中途入社</span>
          </h3>
        </div>

				<div class="people-cross --2">
					<img
					src="<%= meta.imgPath %>obj-cross-member.svg"
					alt=""
					width="100"
					height="auto"
				/>
				</div>

        <div class="people-item">
          <img
            src="<%= meta.imgPath %>cross1-people3.jpg"
            alt="福本桂子の写真"
            width="200"
            height="auto"
          />
          <h3 class="people-title --color1-3">
            福本桂子<br /><span class="small --1">（新卒採用責任者）</span>
          </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="p-cross-content">
    <section class="p-interview-section interview-section-1">
      <h3>
        大切なファーストキャリアを<br
          class="is-sp"
        />古い価値観で選んでいないか。
      </h3>
      <p>
        <span class="--color __1-3">福本</span
        >最近のトップティア学生の就活観について、率直なご意見を聞かせてもらえますか？
      </p>
      <p>
        <span class="--color __1-2">須賀</span
        >社会貢献意欲の高い学生が以前に比べて格段に増えたなと感じています。「その会社は、より良い社会をつくることに貢献できるか」「その事業やサービスに自分が主体的に関われるか」ということを重視して就職活動をしている方がとても多い。素晴らしいですよね。先日、私の古巣のマッキンゼーの社員の方と話をしたんですが、「マッキンゼーの内定を辞退した学生に就職先を聞いてみたら、ベンチャー企業が最も多かった」という話を聞いて、優秀層の方の意識の変化を感じていました。
      </p>
      <p>
        <span class="--color __1-1">田中</span
        >一方で、短期的に焦って結果を求める子も多いですよね。コンサル会社を志望するのも、ケーススタディを通じてスキルシートを埋めることが目的になってしまっている人もいる。欧米諸国のマネジメント層はキャリアアップのために、畑違いの業界にも臆せず飛び込んでジョブチェンジしていく人が多いですよね？彼ら彼女らがなぜ異業種でも活躍できるか。それは、普遍的な力を身に付けているからなんです。
      </p>
      <p>
        <span class="--color __1-3">福本</span
        >ハイパフォーマーに共通しているものとは何なのでしょう？
      </p>
      <p>
        <span class="--color __1-1">田中</span
        >ビジネスパーソン向けのセミナーではよく「キング」「ウォリアー」「エンジェル」「ウィザード」という４つのフレームワークを使って話しています。キングはミッションや志を持って統治する力、ウォリアーは行動する力、エンジェルは愛をはじめとした感情の力、ウィザードは知識や知恵の力です。このバランスの良さがハイパフォーマーの必須条件。どれだけ知識やスキルを磨いてもミッションがなければ空回りするし、愛情がなければ周りがついてきません。エムスリーにはそのすべてを備えた人材が多く揃っています。だからこそ社員一人ひとりの当たり前の基準が自然と上がっていくんだと思います。
      </p>
    </section>

    <section class="p-interview-section interview-section-2">
      <div class="section-bg-container">
        <div
          class="section-bg"
          style="
            background-image: url(<%= meta.imgPath %>bg-cross1-1.jpg);
            background-position: center center;
            background-size: cover;
          "
        ></div>
        <div
          class="section-bg"
          style="
            background-image: url(<%= meta.imgPath %>bg-cross1-2.jpg);
            background-position: center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="section-text">
        <h3>エムスリーは、実は新卒にこそ<br />向いている会社。</h3>
        <p>
          <span class="--color __1-2">須賀</span
          >マッキンゼーをはじめとした戦略コンサルや投資銀行、メガベンチャー等からの転職者が多いせいか、当社は中途向けの会社かと思われがちですが私はそうじゃないと思います。新卒のまっさらな状態で、これだけ多様なスキル、経験、バッググラウンドを持った先輩たちから学ぶことができる。ビジネスパーソンとして一番成長角度が高い20代に多種多様なプロフェッショナル人材に揉まれるというのは、何よりの修業になるんじゃないでしょうか。
        </p>
        <p>
          <span class="--color __1-3">福本</span
          >「成長の三乗法則」も当てはまりますしね。
        </p>
        <p>
          <span class="--color __1-2">須賀</span
          >「成長産業」「成長企業」そして、「20代にとっての成長環境」の3つを全て兼ね備えていることですね。「医療×IT」という産業は社会からのニーズがとてつもなく大きく、右肩上がりの成長をつづけています。一方で、そのニーズに応えられる人材が世の中に圧倒的に足りていない。他の産業や企業に比べ、挑戦する機会、そしてそこから学びを得る機会がけた違いに多くなるのも当然だと思います。また冒頭に、「報酬など目先のことに目が行きがちな学生が多い」という話をしましたが、エムスリーでは結果を出せば報酬は必ずついてきます。「報酬があるから働こう」じゃなく、ミッションや目的意識を持って働いた先に、大きな報酬が得られるんです。
        </p>
        <p>
          <span class="--color __1-1">田中</span
          >実際に、マッキンゼーやボスコン出身者で前職より稼いでいる人はたくさんいますよ。実力があり価値を発揮する人は自然と抜きん出ていきますから。一方で、最初から報酬をはじめとした条件ばかりに目を向け、自分のメリットだけを取ろうとする人にはチャンスは回ってきません。大切なのは、先ほどのフレームワークで言えばキングの部分。ミッションや大きな志を持っている人こそが若くして抜擢され、大きく羽ばたいていくんです。
        </p>
      </div>
    </section>

    <section class="p-interview-section interview-section-3">
      <div class="section-text">
        <h3>
          マッキンゼー流の戦略思考を<br>自らの事業で実践する。
        </h3>
        <p>
          <span class="--color __1-3">福本</span
          >エムスリーの新卒人材の育成環境について教えていただけますか？
        </p>
        <p>
          <span class="--color __1-2">須賀</span
          >まずは製薬マーケティングを推進する部署に配属され、医療業界の全体像を理解していただきます。そこで、数週間の濃密な研修を受けたらすぐにプロジェクトにアサインされ、場数を踏んでいく。私はマッキンゼー出身ですが、当時受けた座学研修やケーススタディでは、ビジネスを推進するうえで何が重要なポイントなのかいまいちわかりませんでした。目の前にクライアントがいる状態になって初めて、顔色が変わり、真剣になれる。苦労しながらも乗り越えた経験が、階段を1段も2段も上らせてくれるんです。
        </p>
        <p>
          <span class="--color __1-1">田中</span
          >エムスリーには、マッキンゼー流の戦略思考やフレームワークを、自らの事業で実践する場があります。仮説を立て、それを顧客や市場、社会に問うことでリアルなフィードバックを得られる。高速でPDCAを回し改善を繰り返すことでプロダクトやサービスの価値を高め、同時に自らの視座や仮説の精度も高めていくことができます。ケーススタディではなくリアルスタディであること。それが、エムスリー社員がハイスピードで成長する一番の要因ではないでしょうか。
        </p>
        <p>
          <span class="--color __1-3">福本</span
          >これだけの事業規模でありながら、採用人数が少ないことも、新卒の育成という面ではプラスに働いていそうですね。
        </p>
        <p>
          <span class="--color __1-1">田中</span
          >普通の上場企業じゃあり得ないことができますからね。例えば、ある新卒社員が2年目のときエムスリーUSAに出向することになったのですが、アメリカに送り出す前の数か月間、私の出る主要なMTGのすべてに彼を同席させたんです。執行役員である私がどういう情報を得て、どのような意思決定をしたのか。思考のプロセスをまとめて提出させるということを、半年以上つづけました。これは社員が少ないからこそできることですし、経営人材をめざす人には喉から手が出るほど魅力的な環境だと思います。
        </p>
      </div>
      <div class="section-bg">
			<picture>
				<source
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-cross1-3-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-cross1-3.jpg"
					alt=""
					width="750"
					height="auto"
				/>
			</picture>
		</div>
    </section>

    <section class="p-interview-section interview-section-4">
      <h3>
        事業家としての経験と逞しさは、<br />ケーススタディでは得られない。
      </h3>
      <p>
        <span class="--color __1-3">福本</span
        >逆にエムスリーに向いていないのはどんな人でしょうか？
      </p>
      <p>
        <span class="--color __1-2">須賀</span
        >変化を好まない人、自分をアップデートする意識のない人は向いていないと思います。私自身これまでに金融やビジネスディベロップメントという領域を経験してきましたが、「そろそろこれまで使っていなかった筋肉を使わなきゃ」と思い、人事領域の業務にチャレンジしました。そんな風に自分から環境を変えていける人じゃないと厳しいと思います。
      </p>
      <p>
        <span class="--color __1-3">福本</span
        >同じ会社にいながら新しいスキルやキャリアを開発していくことができるということですか？
      </p>
      <p>
        <span class="--color __1-2">須賀</span
        >私は現在人事担当の執行役員をしていますが、人事チームの中に元人事経験者は一人もいません。製薬マーケティングの現場にいた人が「より良いビジネスを生み出すために、組織をこう変えていきたい」と志願して異動してきたり、逆に人事からグループ会社の経営に参画していく人もいる。海外も含めたエムスリーグループ内での柔軟なジョブチェンジが可能です。
      </p>
      <p>
        <span class="--color __1-1">田中</span
        >自分の専門分野とは全く違う領域にもチャレンジできる。グローバルの機会も今まで以上に広がっていくでしょうし、日本の先行事例を持って海外で活躍する人も増えていくと思います。そうやって多彩なスキルや経験を掛け算することで自らの市場価値を高め、決してコモディティ化しない唯一無二の存在をめざしてほしいですね。
      </p>
      <p>
        <span class="--color __1-3">福本</span
        >ありがとうございます。最後に、エムスリーに興味を持ってる就活生へのメッセージをお願いします。
      </p>
      <p>
        <span class="--color __1-1">田中</span
        >外資コンサルティングファームでもビジネススキルは十分鍛えられます。けれど、将来経営人材をめざすなら、価値がお金に交換される現場をできるだけ早く経験すべきです。事業家としての経験と逞しさは、ケーススタディでは絶対に身に付けることはできません。例えば、ユニクロの柳井さんや日本電産の永守さんのような素晴らしい経営者はコンサルティングファームからは生まれてこないでしょう。自らが価値を作り、収益を生み、人を巻き込んで事業をスケールさせる。場合によっては事業撤退の判断を自らが下す。20代でそんな濃密な経験を積み、30代最速で経営人材へと駆け上がってきてください。
      </p>
    </section>

    <div class="p-cross-bottom-bg">
		<picture>
			<source
				media="(min-width: 960px)"
				srcset="<%= meta.imgPath %>bg-cross1-4-pc.jpg"
			/>
			<img
				src="<%= meta.imgPath %>bg-cross1-4.jpg"
				alt=""
				width="750"
				height="auto"
			/>
		</picture>
	</div>
  </div>

  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
