<main class="main p-interview-main parallax-container" data-scroll-section>
  <div class="p-interview-kv">
    <div class="p-interview-kv__bg">
			<div
			class="p-interview-kv__bg__inner js-startLoaded">
			<picture>
				<source class="u-position-top"
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-interview1-1-pc.jpg"
				/>
				<img class="u-position-top"
					src="<%= meta.imgPath %>bg-interview1-1.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </div>

    <div class="p-interview-kv__title">
      <section class="p-interview-kv__title__heading">
        <h1>
          <img
            src="<%= meta.imgPath %>text-interview-kv.svg"
            alt="INTERVIEW"
            width="580"
            height="auto"
          />
        </h1>
      </section>
      <dl class="p-interview-kv__title__keyword">
        <dt class="keyword-vertical">
          <img
            src="<%= meta.imgPath %>text-interview-keyword.svg"
            alt="keyword"
            width="20"
            height="auto"
          />
        </dt>
        <div class="keyword-items">
          <div class="--flexed">
          	<dd class="keyword-item">#新卒入社</dd>
	          <dd class="keyword-item --spacing">#インタビュー</dd>
	          <dd class="keyword-item">#経営人材</dd>
	          <dd class="keyword-item">#新規事業</dd>
          </div>
        </div>
      </dl>
    </div>

    <section class="p-interview-kv__sub">
      <h2 class="sub-title">
        <div class="sub-title-container">
          <div class="sub-title__box --block js-startLoaded js-showToRight">
            <span>経営陣から直接学ぶ。</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>最短距離で経営人材になるために。</span>
          </div>
        </div>
        <div class="sub-title__name">織井彩乃 2018年新卒入社</div>
      </h2>
    </section>
  </div>
  <!-- //p-interview-kv -->

  <div class="p-interview-content">
    <section class="p-interview-section interview-section-1">
      <h3>時価総額5兆円企業の社長が、<br class="is-sp" />私の壁打ち相手。</h3>
      <p>
        入社9か月目、医療従事者向けプラットフォームのWEBディレクターを担当することになりました。サイトの施策を議論する隔週の会議には、社長をはじめ経営陣も参加します。要件定義をし、どこをどう改善すればどれだけのインパクトを見込めるのか。ロジカルに、確かな根拠を持って話せなければ当然決裁は下りません。「その施策のROIはどうなっているんだ？」と1年目から社長に突っ込まれる環境が、私を大きく、そしてたくましく育ててくれました。その後のジョブローテーションで配属された事業部では大手製薬メーカーへのセールスを担当。大手クライアント経営陣に対しても堂々とプレゼンできたのは、当時の経験があったからだと思います。
      </p>
    </section>

    <section class="p-interview-section interview-section-2">
			<div class="section-bg">
				<picture>
					<source
						media="(min-width: 960px)"
						srcset="<%= meta.imgPath %>bg-interview1-2-pc.jpg"
					/>
					<img
						src="<%= meta.imgPath %>bg-interview1-2.jpg"
						alt=""
						width="650"
						height="auto"
					/>
				</picture>
			</div>
      <div class="section-text">
        <h3>制度ではなく柔軟なカルチャーが、<br />新事業を生み出す。</h3>
        <p>
					入社4年目の今、治験領域の新事業開発を任されています。部署異動に関して、上司や人事との何気ないコミュニケーションを通じて自分のキャリアの話をしていました。そしたら数日後に「じゃあやってみるか」とアサインされたんです。その柔軟さが、エムスリーの大きな特徴の一つ。同期が担当しているサービスに興味があれば「部署は違うけどチャレンジしてみたい」とその同期に言ってみればいい。メインミッションで成果を出してさえいれば誰も文句は言わない。むしろ、歓迎される風土があります。なぜならエムスリーは、異なる事業の掛け合わせで新たな価値や事業を生み出してきた会社ですから。
        </p>
      </div>
    </section>

    <section class="p-interview-section interview-section-3">
      <div class="section-text">
        <h3>
          新卒入社ならではの、多彩なスキルを<br />
          掛け算できる仕組み。
        </h3>
        <p>
          私たち新卒入社世代はジョブローテーションを通じて、様々な事業と仕事を経験することができます。クライアントへの提案に絶対に必要なロジカルシンキング、0から1を生み出す新事業開発のセオリー、CVCに求められるM&Aの知識、世界を相手に勝負するグローバルビジネスの経験。それぞれの領域で手にしたスキルを掛け算することで自らの市場価値を上げていくという価値観が当たり前に浸透しています。転職者は過去の経験やスキルを踏まえて配属されることが多いかもしれませんが、新卒社員は多彩な事業領域を一通り経験することができる。自分を鍛えざるを得ない環境が、市場価値を高めてくれるんです。
        </p>
      </div>
      <div
        class="section-bg"
        style="
          background-image: url(<%= meta.imgPath %>bg-interview1-3.jpg);
          background-position: center center;
          background-size: cover;
        "
      ></div>
    </section>

    <section class="p-interview-section interview-section-4">
      <h3>新卒で、執行役員になった<br class="is-sp" />先輩社員がいます。</h3>
      <p>
        今チャレンジしている新事業は絶対に成功させたい。けれど、私はその先に「経営人材になる」という大きな目標を見据えています。これまでもプロジェクトリーダーとして自ら意思決定をした経験は多々ありますが、一つの事業ではなく会社全体を俯瞰して見ている人とでは、見えている景色や視座がまったく違うと感じています。将来はそのレベルにチャレンジしたい。自らの責任範囲で、できるだけ大きな社会インパクトを起こしたいと本気で思っています。エムスリーが大切にしているのは「誰が言うかではなく何を言うか」。実際に、新卒入社で執行役員に就任した先輩もいます。年齢年次関係なくチャレンジできるこの会社で、私は本気で経営陣をめざしたい。20代の若手がこんな大口を叩いても誰も笑わない。それがエムスリーという会社です。
      </p>
    </section>

    <div class="p-interview-bottom-bg"
    >
		<picture>
			<source
				media="(min-width: 960px)"
				srcset="<%= meta.imgPath %>bg-interview1-4-pc.jpg"
			/>
			<img
				src="<%= meta.imgPath %>bg-interview1-4.jpg"
				alt=""
				width="650"
				height="auto"
			/>
		</picture>
	</div>
  </div>
  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
