<main class="main p-interview-main parallax-container" data-scroll-section>
  <div class="p-interview-kv">
    <div class="p-interview-kv__bg">
      <div
			class="p-interview-kv__bg__inner js-startLoaded">
			<picture>
				<source class="u-position-top"
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-interview3-1-pc.jpg"
				/>
				<img class="u-position-top"
					src="<%= meta.imgPath %>bg-interview3-1.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </div>

    <div class="p-interview-kv__title">
      <section class="p-interview-kv__title__heading">
        <h1>
          <img
            src="<%= meta.imgPath %>text-interview-kv.svg"
            alt="INTERVIEW"
            width="580"
            height="auto"
          />
        </h1>
      </section>
      <dl class="p-interview-kv__title__keyword">
        <dt class="keyword-vertical">
          <img
            src="<%= meta.imgPath %>text-interview-keyword.svg"
            alt="keyword"
            width="20"
            height="auto"
          />
        </dt>
        <div class="keyword-items">
          <div class="--flexed">
          	<dd class="keyword-item">#中途入社</dd>
	          <dd class="keyword-item --spacing">#インタビュー</dd>
	          <dd class="keyword-item">#BCG</dd>
          </div>
          <div>
          	<dd class="keyword-item">#経営人材</dd>
	          <dd class="keyword-item">#20代の成長環境</dd>
	          <dd class="keyword-item --spacing">#コンサル</dd>
          </div>
        </div>
      </dl>
    </div>

    <section class="p-interview-kv__sub">
      <h2 class="sub-title">
        <div class="sub-title-container">
          <div class="sub-title__box --block js-startLoaded js-showToRight">
            <span>転職者の私が30代で手にした経験を、</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>20代で掴んでほしい。</span>
          </div>
        </div>
        <div class="sub-title__name">高野雄治 2016年中途入社</div>
      </h2>
    </section>
  </div>
  <!-- //p-interview-kv -->

  <div class="p-interview-content">
    <section class="p-interview-section interview-section-1">
      <h3>
        事業を自らリードする。<br
          class="is-sp"
        />その肌感覚を求めてエムスリーへ。
      </h3>
      <p>
				新卒でボストンコンサルティンググループに入社。戦略コンサルタントとして多くの経験を積むことができました。あるとき、仲の良い上司から「第三者としての合理的な提言は重要。そこは磨かれている一方で、リアルな事業運営には情理の部分も大切でそこを理解する必要がある」とアドバイスを受けました。より事業側を経験したいという想いが強くなり、IGPIに転職しました。IGPIは事業会社とコンサルティングファームの中間的な存在で、クライアントにハンズオンで関わり、資金投入とともに経営メンバーとして参画できる。理想的な仕事環境でした。ただ、戦略の実行推進はどうしてもクライアントに委ねざるを得ないことが多かった。事業会社の当事者として何かを推進する苦労や肌感覚を手にしたい。社会貢献性の高い事業を自分事としてリードし、組織をマネジメントする経験を積んでさらに成長したい。それができる環境を求めてエムスリーに入社しました。
      </p>
    </section>

    <section class="p-interview-section interview-section-2">
      <div class="section-bg">
				<picture>
					<source
						media="(min-width: 960px)"
						srcset="<%= meta.imgPath %>bg-interview3-2-pc.jpg"
					/>
					<img
						src="<%= meta.imgPath %>bg-interview3-2.jpg"
						alt=""
						width="650"
						height="auto"
					/>
				</picture>
			</div>
      <div class="section-text">
        <h3>サービスオーナーとして、<br />100億円の責任を背負う。</h3>
        <p>
          現在はSPBU（注釈１）のグループリーダー、エムスリーマーケティング（以降 M3M）の副社長、新設されたField DX(以降FDX)グループのグループリーダーという3つの役割を兼務しています。エムスリーではよく、1つのグループが担う事業規模は会社みたいなものだと言われますが、FDXグループでサービス責任者をしているe武装だけでも売上は100億規模。グループで行う重要な会議には代表取締役や役員が必ず出席し、新サービスのプライシング、既存サービスの価格変更、大きなコストが伴うサービス改善等の検討や提案は、自分が責任を持って提示しなければならない。否応なく経営者意識を鍛えざるを得ない環境は、まさに私が求めていたものでした。
        </p>
      </div>
    </section>

    <section class="p-interview-section interview-section-3">
      <div class="section-text">
        <h3>サービス開発だけじゃない。<br />副社長として組織を開発。</h3>
        <p>
          副社長を務めるM3Mは2014年に完全子会社化した会社です。成長企業ならではの組織課題が山ほどあります。評価の仕組みづくり、キャリアパスや育成ステップの見える化、意思決定フローの細分化、組織拡大にあわせた体制変更など、様々な施策を順次導入していきました。M3Mの業務に限らず、コンサル時代に比べ、関わる職種が圧倒的に増えましたね。営業担当者、プロジェクトデリバリー担当者、サービスを開発するエンジニアやサイト運営者等、全員に納得してやりがいをもって働いてもらうためには、それぞれに合わせたコミュニケーションが必要不可欠。彼らのモチベーションは何なのか、彼らの目標に自分がどう貢献できるのか。それらを考え抜き、大きな組織をマネジメントできた経験は、自分のキャリアにも大きなインパクトを与えてくれたと思います。
        </p>
      </div>
      <div
        class="section-bg --h480">
			<picture>
				<source
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-interview3-3-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-interview3-3.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </section>

    <section class="p-interview-section interview-section-4">
      <h3>
        20代で大きな意思決定に関わる経験は、<br class="is-sp" />何よりの財産。
      </h3>
      <p>
        あるとき、新卒3年目の若手が私の担当事業に関わる領域で「こんなサービスをやりたいんです」と提案してきました。サービスの詳細やプライシング、営業支援等のすべてをメイン担当であるその若手が設計し、経営決裁を取り実際に市場にリリースすることに。その後たった１、2年で年間2~4億円を生むサービスに育てたんです。エムスリーでは年齢はまったく関係ありません。強い意志と行動力、そして「それをやるべきだ」という合理的な説明があれば何年目であっても機会が与えられ、重要なポジションを任される。若いうちから意思決定をする・大きな意思決定に関わる経験は、将来のキャリアにとって本当に貴重な財産となるはずです。だからこそ、ファーストキャリアでエムスリーを選ぶメリットは、とてつもなく大きい。私が30代で転職してから得た経験を、ぜひ20代で手にしてください。
      </p>
			<p class="section-annotation">
				注釈１：Solution Partner Business
				Unitの略で製薬企業の経営者・マーケティング責任者に対してデジタル/AIなどを活用したマーケティング戦略の立案～実行を担う部署。
			</p>
    </section>

    <div class="p-interview-bottom-bg"
    >
		<picture>
			<source
				media="(min-width: 960px)"
				srcset="<%= meta.imgPath %>bg-interview3-4-pc.jpg"
			/>
			<img
				src="<%= meta.imgPath %>bg-interview3-4.jpg"
				alt=""
				width="650"
				height="auto"
			/>
		</picture>
	</div>
  </div>
  <div class="c-btn__anchor --page3">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
