<main class="main p-interview-main parallax-container" data-scroll-section>
  <div class="p-interview-kv">
    <div class="p-interview-kv__bg">
      <div
			class="p-interview-kv__bg__inner js-startLoaded --position-top">
			<picture>
				<source class="u-position-top"
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-interview2-1-pc.jpg"
				/>
				<img class="u-position-top"
					src="<%= meta.imgPath %>bg-interview2-1.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </div>

    <div class="p-interview-kv__title">
      <section class="p-interview-kv__title__heading">
        <h1>
          <img
            src="<%= meta.imgPath %>text-interview-kv.svg"
            alt="INTERVIEW"
            width="580"
            height="auto"
          />
        </h1>
      </section>
      <dl class="p-interview-kv__title__keyword">
        <dt class="keyword-vertical">
          <img
            src="<%= meta.imgPath %>text-interview-keyword.svg"
            alt="keyword"
            width="20"
            height="auto"
          />
        </dt>
        <div class="keyword-items">
          <div class="--flexed">
          	<dd class="keyword-item">#新卒入社</dd>
	          <dd class="keyword-item --spacing">#インタビュー</dd>
          </div>
					<div>
						<dd class="keyword-item">#M&A</dd>
						<dd class="keyword-item">#経営人材</dd>
					</div>
        </div>
      </dl>
    </div>

    <section class="p-interview-kv__sub --3">
      <h2 class="sub-title">
        <div class="sub-title-container --sp">
          <div class="sub-title__box --block js-startLoaded js-showToRight">
            <span>10年も待っていられない。</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>最速で専門分野を極め、</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>唯一無二の存在へ。</span>
          </div>
        </div>
        <div class="sub-title-container --pc">
          <div class="sub-title__box --block js-startLoaded js-showToRight">
            <span>10年も待っていられない。</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>最速で専門分野を極め、唯一無二の存在へ。</span>
          </div>
        </div>
        <div class="sub-title__name">榊原和洋 2020年新卒入社</div>
      </h2>
    </section>
  </div>
  <!-- //p-interview-kv -->

  <div class="p-interview-content">
    <section class="p-interview-section interview-section-1">
      <h3>日本の優れた研究を<br class="is-sp" />お蔵入りさせてはいけない。</h3>
      <p>
        専攻は分子生物学。大学院の博士課程まで進みました。Natureに論文を発表したこともあります。アカデミアで感じていたのは、日本には素晴らしい研究が多々あるにも関わらず、欧米諸国に比べビジネス転用が進んでいないということ。サイエンスに対して造詣が深く、かつ事業経営もわかっているリンクマンと言える存在が日本にはあまりに少ないからです。例えばアメリカだと、大手のベンチャーキャピタルやバイオベンチャーが当たり前のように多くのphdやMDを抱えている。人材面でそこまで差があれば、産業面で差が出てくるのは当然です。その現状を変えたい。自分がサイエンスとビジネスを繋ぐリンクマンになりたい。そんな思いから、アカデミアを飛び出してビジネスの世界に挑もうと決めました。
      </p>
    </section>

    <section class="p-interview-section interview-section-2">
      <div class="section-bg">
				<picture>
					<source
						media="(min-width: 960px)"
						srcset="<%= meta.imgPath %>bg-interview2-2-pc.jpg"
					/>
					<img
						src="<%= meta.imgPath %>bg-interview2-2.jpg"
						alt=""
						width="650"
						height="auto"
					/>
				</picture>
			</div>
      <div class="section-text">
        <h3>入社2年目、めざしていた<br />ポジションをその手に。</h3>
        <p>
          エムスリーを選んだのは、自分が研究していたヘルスケア領域で世界に対して大きな影響力があり、なおかつ自己成長できる環境があると確信できたから。コンサルティング経験が積めるのも魅力でした。製薬会社も一応検討しましたが、面接で自分のキャリアビジョンを話すと「そのポジションに行くには10年以上かかる」と言われてしまって。そんなに悠長に構えていたら、ますます欧米に溝を開けられてしまう。エムスリーでは実際に、入社2年目でそのポジションにチャレンジさせてもらっています。事業開発グループというチームで、バイオベンチャー企業に対するCVC業務を担当。このスピード感には本当に驚きました。
        </p>
      </div>
    </section>

    <section class="p-interview-section interview-section-3">
      <div class="section-text">
        <h3>自らの稀少性を最速で高めたい。</h3>
        <p>
          対峙するのは、資金調達を希望するベンチャー企業のCEOや研究者。様々な資料に目を通し、CEOとの面談を通じてデューデリジェンスを行い、投資判断・実行をしています。この年齢で、非常に得難い経験をさせていただいているという実感がありますね。社内には、投資銀行出身者をはじめ経験豊富な先輩はたくさんいますが、私ほど強くサイエンティフィックなバックグラウンドを持っている人はいません。つまり私には、ベンチャー企業の研究開発者と対等な目線で会話し、その技術の価値がどこにあるのかを正確に判断できる独自の武器があるということ。アカデミアからビジネスの現場に飛び込んだ、ただの変わり者で終わるつもりはありません。さらに多くの経験を積み、自らの稀少性を最速で高めていきたいと思っています。
        </p>
      </div>
      <div
        class="section-bg --h480">
			<picture>
				<source
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-interview2-3-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-interview2-3.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </section>

    <section class="p-interview-section interview-section-4">
      <h3>
        意志、情熱、論理があれば、<br
          class="is-sp"
        />目指すキャリアは必ず拓ける。
      </h3>
      <p>
        「こんな挑戦をしたい」という強い意志、その意志に対する本気度と情熱、そして周りを納得させるための論理の力。この3つさえあれば、自分が思い描くキャリアパスにエムスリーは必ず寄り添ってくれる。ここまで事業規模の大きな会社でありながら、個人を尊重しチャンスを与えてくれるというのは、成長をめざすうえでベストな環境だと自信を持って言えます。一方で、そうした意志や情熱がない人にとっては厳しい環境であるのも事実。会社が成長していく中で、自分だけが現状維持にとどまってしまうと相対的に自分の価値が下がってしまいますから。だからこそ、意志、情熱、論理の3つを持った人に来てほしい。自分がのめりこんでいる研究について話し始めたら、1時間も2時間も止まらない。そんな私のようなある種クレイジーな人間が増えてきたら、エムスリーはもっと面白くなる。そう確信しています。
      </p>
    </section>

    <div class="p-interview-bottom-bg"
    >
		<picture>
			<source
				media="(min-width: 960px)"
				srcset="<%= meta.imgPath %>bg-interview2-4-pc.jpg"
			/>
			<img
				src="<%= meta.imgPath %>bg-interview2-4.jpg"
				alt=""
				width="650"
				height="auto"
			/>
		</picture>
	</div>
  </div>
  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
