<main class="main p-story-main parallax-container" data-scroll-section>
  <div class="p-interview-kv">
    <div class="p-interview-kv__bg">
			<div
			class="p-interview-kv__bg__inner js-startLoaded">
			<picture>
				<source class="u-position-top"
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-prj1-1-pc.jpg"
				/>
				<img class="u-position-top"
					src="<%= meta.imgPath %>bg-prj1-1.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </div>

    <div class="p-interview-kv__title --prj1">
      <section class="p-interview-kv__title__heading">
        <h1>
          <img
            src="<%= meta.imgPath %>text-story-kv.svg"
            alt="PROJECT STORY"
            width="440"
            height="auto"
          />
        </h1>
      </section>
      <dl class="p-interview-kv__title__keyword">
        <dt class="keyword-vertical">
          <img
            src="<%= meta.imgPath %>text-interview-keyword.svg"
            alt="keyword"
            width="20"
            height="auto"
          />
        </dt>
        <div class="keyword-items">
          <div class="--flexed">
          	<dd class="keyword-item">#中途入社</dd>
	          <dd class="keyword-item --spacing">#プロジェクトストーリー</dd>
	          <dd class="keyword-item">#新規事業</dd>
          </div>
					<div>
						<dd class="keyword-item">#DX</dd>
						<dd class="keyword-item">#コンサル</dd>
					</div>
        </div>
      </dl>
    </div>

    <section class="p-interview-kv__sub --prj1">
      <h2 class="sub-title">
        <div class="sub-title-container">
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>圧倒的なスピード感で、</span>
          </div>
          <div class="sub-title__box js-startLoaded js-showToRight">
            <span>医療のDX化を実現する。</span>
          </div>
        </div>
        <div class="sub-title__name">尾崎郁雄 2014年中途入社</div>
      </h2>
    </section>
  </div>
  <!-- //p-interview-kv -->

  <div class="p-interview-content">
    <section class="p-interview-section interview-section-1">
      <h3>
        コモディティ商品ではなく、<br />
        世の中になくてはならない新価値を作る。
      </h3>
      <p>
        エムスリーに来る前は、大手飲料メーカーでマーケティングを担当していました。担当製品が日本全国どこのコンビニやスーパーにも並んでおり、自分の仕掛けた施策が直接売上に繋がる達成感は確かにありました。一方で、例えばウーロン茶ひとつ取っても、市場にオンリーワン製品はほとんどなく代替品も多い。極端なことを言えば、自分の担当製品が無くても世の中は困らないんです。「これがないと困る」と言われる商品やサービスを自らの手で作りたいという気持ちが、少しずつ大きくなっていきました。『医療×IT』という領域で、次々に新しい事業を生んでいるエムスリーに入社したのはそうした理由があったからです。
      </p>
    </section>

    <section class="p-interview-section interview-section-2">
      <div class="section-bg">
				<picture>
					<source
						media="(min-width: 960px)"
						srcset="<%= meta.imgPath %>bg-prj1-2-pc.jpg"
					/>
					<img
						src="<%= meta.imgPath %>bg-prj1-2.jpg"
						alt=""
						width="650"
						height="auto"
					/>
				</picture>
			</div>
      <div class="section-text">
        <h3>
          日本の医療を変える<br
            class="is-sp"
          />ビッグプロジェクトを、<br />たった3人でリード。
        </h3>
        <p>
          入社後アサインされたのは、クラウド型電子カルテという新規事業開発プロジェクト。従来型の電子カルテはPC等へのインストール型が主流で、例えば事務作業をするためだけに休日に診療所に出るといった働き方をしなくてはなりません。一方クラウド型ならいつでもどこでもどのデバイスからでもカルテを確認できる。医療現場の非効率を劇的に改善する可能性を秘めたビッグプロジェクトです。それを推進するビジネスチームのメンバーは私を含めてたったの3人。事業計画立案、ビジネスモデル構築、経営の肝であるプライシングまでを担当しました。転職間もない人間にも重要な局面での打席が回ってくる。エムスリーらしさの一つだと思います。
        </p>
      </div>
    </section>

    <section class="p-interview-section interview-section-3">
      <div class="section-text">
        <h3>圧倒的なスピード感が、<br />最小の工数で最大成果を生み出す。</h3>
        <p>
          転職してもう一つ驚いたのがサービスをローンチするまでのスピード感。100%の完成度に届いていなくとも、まずは市場に出し、市場と対話しながらより良いものに改善していく。前職ではテレビCMの映像を作るのに半年以上かけていましたが、エムスリーでは製品説明の動画を1週間で出してしまう。ナレーターなんて雇いません。社内の、声の良い社員に依頼しました。0から1を生むときは半年間何も出さないより、1週間で0.1を出し、高速でPDCAを回して改善していく方がよっぽど早い。30代後半にしてようやく事業開発の重要なポイントを、身をもって体感することができました。
        </p>
      </div>
      <div
        class="section-bg">
			<picture>
				<source
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-prj1-3-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-prj1-3.jpg"
					alt=""
					width="650"
					height="auto"
				/>
			</picture>
		</div>
    </section>

    <section class="p-interview-section story-section-4 interview-section-4">
      <h3>
        従来型のプライシングでは、<br />日本の医療を変えることはできない。
      </h3>
      <p>
        ローンチまでのスピード感とともにこだわったのが、プライシングです。もともとプロジェクトのミッションは、「テクノロジーを活用することで医療現場の非効率を無くし、日本の医療を前進させること」。価格を高くし、一部のドクターに使ってもらって利益を上げるようなビジネスモデルでは、日本の医療全体を変えることはできない。良い製品を低価格で販売するという前提に立ち、開発体制、セールスの手法、サポートシステムのすべてを設計しました。そのおかげか、現在国内No.1のクラウド型電子カルテへと成長。この領域の圧倒的なデファクトスタンダードとなっています。
      </p>
    </section>

    <div class="p-interview-bottom-bg"
    >
		<picture>
			<source
				media="(min-width: 960px)"
				srcset="<%= meta.imgPath %>bg-prj1-4-pc.jpg"
			/>
			<img
				src="<%= meta.imgPath %>bg-prj1-4.jpg"
				alt=""
				width="650"
				height="auto"
			/>
		</picture>
	</div>

    <section class="p-interview-section interview-section-4 story-section-5">
      <h3>社内の潤沢なアセットが、<br class="is-sp" />志をスケールさせる。</h3>
      <p>
        「ドクターにとって便利な電子カルテ」で終わらせるつもりはありません。エムスリーは電子カルテ以外にも、クリニックの予約サービスやオンライン診療サービス、キャッシュレス決済サービスなど多種多様なアセットを持っています。それらを病院の基幹システムである電子カルテと連携させれば、従来型の「診察待ち」「会計待ち」「（薬局での）調剤待ち」という膨大な待ち時間を劇的に減らすことができる。「日本を超え、世界の医療を変えていく」という私たちのミッションは、あまりにも大きく夢みたいな話に聞こえるかもしれませんが、エムスリーという会社は極めて現実的にそれを成し遂げていける会社だと思っています。
      </p>
    </section>
  </div>
  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
