<% const page='index'; %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./components/_head.ejs',{meta:data.pageMeta[page]}); %>
  <body id="js-anchor">
    <div id="loading">
      <div id="loading-main"></div>
    </div>
    <div
      class="js-loadingWrapper smooth-scroll-container"
      data-scroll-container
    >
      <%- include('./components/_header.ejs',{meta:data.pageMeta[page]}); %> <%-
      include('./top/_topKv.ejs',{meta:data.pageMeta[page]}); %> <%-
      include('./top/_main.ejs',{meta:data.pageMeta[page]}); %> <%-
      include('./components/_footer.ejs',{meta:data.pageMeta[page]}); %>
    </div>
    <script src="./assets/js/polyfill-intersection-observer.js"></script>
    <script src="./assets/js/rellax.min.js"></script>
    <script>
      var rellax = new Rellax('.rellax-target');
    </script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/platform.js"></script>

    <script>
      'use strict';
      var ua = window.navigator.userAgent.toLowerCase();
      if (
        // もしsafariの場合
        ua.indexOf('safari') !== -1 &&
        ua.indexOf('chrome') === -1 &&
        ua.indexOf('edge') === -1
      ) {
        if (
          // もしスマホ・タブレット以外の場合
          !(
            ua.indexOf('iPhone') > 0 ||
            (ua.indexOf('iPhone') != -1 && ua.indexOf('macintosh') != -1) ||
            (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) ||
            ua.indexOf('iPad') > 0 ||
            ua.indexOf('Android') > 0 ||
            (ua.indexOf('iPad') != -1 && ua.indexOf('macintosh') != -1)
          )
        ) {
          var safariVer = platform.version; // もしsafariのバージョンが14より小さい場合

          if (safariVer < '14') {
						// console.log('safariのバージョン14以下、PCで閲覧中！');
            window.addEventListener('DOMContentLoaded', function () {
							// ローディング非表示
              const loadingTarget = document.getElementById('loading');
							loadingTarget.style.display = 'none';
              // htmlタグにsafari専用のクラス付け
              var htmlElm = document.documentElement;
              htmlElm.className += ' safariPC';
              // TOPページのアニメーションオフ
              var removeElm = document.getElementById('js-topKv');
              var headerElm = document.querySelector('.header-container');
              var topicsElm = document.querySelector('.js-textScramble');
              var topicsItems = document.querySelectorAll('.js-srOnly');
              var topTitles = document.querySelectorAll('.kv-title__text');
              topTitles.forEach(function (topTitle) {
                topTitle.classList.add('is-show');
              });
              removeElm.classList.add('is-hidden');
              headerElm.classList.remove('js-topPageHeader');
              topicsElm.remove();
              topicsItems.forEach(function (topicsItem) {
                topicsItem.classList.remove('js-srOnly');
              });
            });
          }
        }
      }
    </script>
  </body>
</html>
