<% const page='index'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./includes/_head.ejs',{meta:data.pageMeta[page]}); %>

<body style="display: none;">
  <%- include('./includes/_loading.ejs',{meta:data.pageMeta[page]}); %>
  <div class="smooth-scroll-container" data-scroll-container>
    <%- include('./includes/_header.ejs',{meta:data.pageMeta[page]}); %>
    <%- include('./includes/_modal.ejs') %>
    <%- include('./includes/_fv.ejs',{meta:data.pageMeta[page]}); %>
    <%- include('./includes/_main.ejs',{meta:data.pageMeta[page]}); %>
    <%- include('./includes/_footer.ejs',{meta:data.pageMeta[page]}); %>
  </div>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <%- include('./includes/_footer-scripts.ejs',{meta:data.pageMeta[page]}); %>
  <!-- <script>
    var rellax = new Rellax('.rellax-target');
  </script> -->
</body>

</html>
